* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

/* Utility classes and variables */

:root {
    --primary: rgb(7, 21, 112);
    --tertiary: rgb(10, 32, 173);
    --Accent: orange;
}

.mb {
    margin-bottom: .5rem;
}


.homebtn {
    display: flex;
    margin: 20px 0 20px 60px;
}

.box,
.form_box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 60px;
}

.content {
    text-align: center;
}

.content h3 {
    font-size: 30px;
    color: #333;
}

.content h3 span {
    background: var(--primary);
    color: white;
    border-radius: 5px;
    padding: 2px 15px;
}

.content h1 {
    font-size: 80px;
    color: #333;
}

.content h1 span {
    color: var(--primary);
}

.form-content {
    margin: 50px 50px;
}
.content p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 100;
    color: white;
    background: #333;
    margin: 0 5px;
    transition: all ease-in-out;
    text-transform: capitalize;
}

.btn:hover {
    background-color: var(--primary);
}

.form_box {
    background: #eee;
}

.form_box form {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    background: #fff;
    text-align: center;
    width: 500px;
}

#register{
    width: 800px;
}

.form_box form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}
.form_box form h4 {
    text-transform: lowercase;
    font-weight: 100;
    margin-bottom: 10px;
    color: #333;
}

.form_box form input,
.form_box form select {
    width: 100%;
    padding: 16px 15px;
    margin: .8rem 0;
    background: #eee;
    border-radius: 5px;
}

.form_box form select option {
    background: var(--primary);
}

.form_box form .form_btn {
    background: var(--primary);
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    cursor: pointer;
}

.form_box form .form_btn:hover {
    background: var(--tertiary);
    color: white;
}

.form_box form p {
    margin-top: 10px;
    font-weight: 100;
    /* font-size: 20px; */
    color: #333;
}

.form_box form p a {
    font-weight: 800;
    color: var(--primary);
}

.form_box form p a:hover {
    font-weight: 800;
    color: var(--tertiary);
}

.name {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.gender_radio {
    display: inline-flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.form_box form .error-msg {
    margin: 10px 0;
    display: block;
    background: var(--primary);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}